* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    justify-content: center;   
}
#board{
    /* background-color: skyblue; */
    background-image: url(flappybirdbg.png);
}